<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-container">
        {{>header}}
        <div class="context">
            <p>Info de la pag : {{infoPag}}</p>
            <p>Otro parafo - Prueba de cambio</p>
        </div>
    </div>
    <footer>
        {{>footer}}
    </footer>
</body>
</html>