<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>Help</title>
</head>
<body>
    <div class="main-container">
        {{>header}}
        <div class="context">
            <p>Texto de ayuda : {{helpText}}</p>
        </div>
    </div>
     <footer>
        {{>footer}}
    </footer>
   
</body>
</html>